<p style="padding-left: 240px;"><img src="static/fail.png" alt="FAIL" width="500" height="300" /></p>
<ul>
<li><em>&nbsp; Sorry I couldn't mark your attendance&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-frown.gif" alt="frown" /></em></li>
</ul>
<p>&nbsp; &nbsp; <strong>&nbsp; ***** Following are the possible reasons :</strong></p>
<ul>
<li>&nbsp; Please try entering the correct username and password&nbsp;</li>
<li>&nbsp; Please check with the admin that you're registered&nbsp;</li>
</ul>
<a href="/"><p style="text-align:center">Go to home page</p></a>
