<<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h3 style="padding-left: 30px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="background-color: #ff6600;"> Register Here&nbsp;</span></h3>
        <h1 style="padding-left: 180px;"><a href="/train"> <img style="width: 500px; height: 250px; border: 0;" src="static/regis.jpg" alt="Register Here" /></a></h1>
        <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="background-color: #00ffff;"> Mark Your Attendance Here&nbsp;</span></h3>
        <h1 style="padding-left: 180px;"><a href="/test"> <img style="width: 500px; height: 250px; border: 0;" src="static/mark.jpg" alt="Mark Your Attendance Here" /> </a></h1>
        <h3>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="background-color: #ffffff;"> &nbsp;<span style="background-color: #ff00ff; color: #0000ff;"> The ADMIN Site&nbsp;</span></span></h3>
        <h1 style="padding-left: 180px;"><a href="/adminT"> <img style="width: 500px; height: 250px; border: 0;" src="static/admin.jpg" alt="The Admin Site" /> </a></h1>

    </body>
</html>
