<p style="padding-left: 180px;"><img src="static/success.jpg" alt="training success" width="500" height="300" /></p>
<p style="padding-left: 60px;">CONGRATULATIONS <img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" />! Your Face is Recorded. Please wait for Admin to update your details. Thank YoU&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-wink.gif" alt="wink" />&nbsp;</p>
<a href="/"><p style="text-align:center">Go to home page</p></a>
